- provide(:title, @user.firstName+@user.lastName)
.container.text-center
  .user-profile.col-sm-10
    .profile-left  
      = gravatar_for @user
    .profile-right
      .profile-right-top
        .profile-name  
          = @user.firstName+@user.lastName
        - if @user.id === current_user.id
          .profile-edit  
            = link_to 'プロフィール変更', edit_user_registration_path
        - else
          .ml-20
            = render 'shared/follow_form' if user_signed_in?
      %section.stats
        .recipes-count
          %strong
            = @recipes.count
          recipes
        = render 'shared/stats'      
  .wrapper.profile-recipes        
    = render 'recipes/recipe'
    = paginate @recipes
