- provide(:title, @user.firstName+@user.lastName)
%section.stats
  = render 'shared/stats'
= render 'shared/follow_form' if user_signed_in?
.wrapper
  = link_to 'プロフィール変更', edit_user_registration_path
  %h1
    = gravatar_for @user
    = @user.firstName+@user.lastName
  = render 'recipes/recipe'
