.banner
  .wrapper
    .top
      .rich-text
        %h1.page-title 今日からFODMAPダイエットをはじめよう！
.content-form.wrapper
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :firstName
      %br/
      = f.text_field :firstName, autofocus: true, autocomplete: "firstName"
    .field
      = f.label :lastName
      %br/
      = f.text_field :lastName, autofocus: true, autocomplete: "lastName"
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "new-password"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .actions.btn-yellow-normal
      = f.submit "Sign up"
  = render "devise/shared/links"
