.container
	.main_content
		#recipe_top.row
			.col-md-4
				= image_tag @recipe.picture.url, class: "recipe_image" if @recipe.picture.url
			.col-md-8
				#recipe_info
					%h1= @recipe.title
					.description
						= simple_format(h(@recipe.content))										
						投稿者:
						= link_to @recipe.user.firstName, "/user/#{@recipe.user_id}"					
		.row
			.col-md-12.mb-15
				%p
					カテゴリー: #{raw(@recipe.tag_list.map { |t| link_to t, tag_path(t) }.join(', '))}			
				= link_to "Back", :back, class: "btn btn-default"
				- if current_user.id === @recipe.user_id
					= link_to "Edit", edit_recipe_path, class: "btn btn-default"
					= link_to "Delete", recipe_path, method: :delete, data: {confirm: "本当に削除してよろしいでしょうか？" }, class: "btn btn-default"
		.comment-wrapper{class: "border-top　mb-10"}
			%p.mt-5 コメント一覧
			- if @comments.count > 0
				.comment-lists													
					- @comments.each do |c|					
						.comment-box
							= simple_format(h(c.content))	
							.comment-sub-box
								- unless c.user.blank?					
									%p.publisher
										投稿者
										= c.user.firstName unless c.user.blank?				
								- if c.content
									- if c.user_id === current_user.id
										%p.delete-comment= link_to "削除", recipe_comment_path(c.recipe_id, c.id), method: :delete					
			- if user_signed_in?
				.comment-form
					= form_with(model: [@recipe, @comment], local: true) do |f|
						= f.text_area :content, class: "form-control", rows: 5
						= button_tag type: "submit", class: "btn btn-success float-right mt-1" do						
							%i.fa.fa-comments-o
							コメントする