- provide(:title, "home")
- if user_signed_in?
  -# %section.stats
  -#   = render 'shared/stats'
  -# = render 'shared/feed'
  -# = paginate @feed_items
  .loged-in-category
    = render partial: 'category'
  .container
    = render partial: 'recipes/recipe'
    .text-center
      = paginate @recipes
- else     
  .main
    .row.left
      %h1.page-title Happy Gut
      .rich-text
        %p 低FODMAPレシピ共有アプリ
      %button.btn.btn-dark{type: "button"}
        = link_to 'ログイン', new_user_session_path
      %button.btn.btn-warning{type: "button"}            
        = link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post        
  = render partial: 'what-is-happy-gut'        
  = render partial: 'service'        
  = render partial: 'register-form'