- provide :title, "Log in"
.banner
  .wrapper
    .top
      .rich-text
        %h1.page-title ログイン
.content        
  .content-form.wrapper
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field.mb-15
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field.mb-15
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .field.mb-15.d-flex
          .remember-check
            = f.check_box :remember_me
          .remember-text  
            = f.label :remember_me
      .actions
        %button.btn.btn-red{type: "button"}
          = f.submit "ログイン"
        
    = render "devise/shared/links"
